<div>
  <h2><a href="/categories/" class="nav-links back"> <img src="http://downloadicons.net/sites/default/files/returns--icon-30696.png"/> </a></h2>
  <h2><a href="/" class="nav-links home">  <img src="http://www.bestpeer.com/img/home.png"/> </a></h2>
</div>

<div>
  <% products.each do |product| %>
    <% if product.category_id == category.id %>
      <div class="index_transbox">

        <%= link_to("/products/#{product.id}") do %>
          <%= image_tag(product.prod_url) %>
        <% end %>

        <h3 class="item">
          <%= link_to product.name, "/products/#{product.id}" %>
        </h3>

        <p><%= "Quality: #{product.condition}" %></p>

        <p class="price"><%= "Price: $#{product.discount}" %>
          <% if product.on_clearance %>
            <%= " - Clearance: 10% off! (Original price = $#{(product.price / 0.9).round})" if product.condition.downcase == 'fair' %>
            <%= " - Clearance: 20% off! (Original price = $#{(product.price / 0.8).round})" if product.condition.downcase == 'good' %>
          <% end %>
        </p1>

        <p2 class="quantity"><%= "#{product.quantity} items left in stock!" %></p2>

        <p>
          <%= link_to("Back to category list", "/categories", class: "cat-prod") %>
        </p>

      </div>
    <% end %>
  <% end %>
</div>
