<h2><%= form_title %></h2>

<div class="form">
  <% if product.errors.any? %>
    <% product.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

  <%= form_for(product) do |f| %>

    <div class="input-group">
      <label for="name">Name</label>
      <%= f.text_field :name %>
    </div>

    <div class="input-group">
      <label for="price">Price</label>
      <%= f.number_field :price, min: 1 %>
    </div>

    <div class="input-group">
      <label for="quantity">Quantity</label>
      <%= f.number_field :quantity, min: 0 %>
    </div>

    <div class="input-group">
      <label for="condition">Condition</label>
        <select name="condition", id="condition">
          <option value='Good'>Good</option>
          <option value='Fair'>Fair</option>
          <option value='Bad'>Bad</option>
          <option value='Absolute Shit'>Absolute Shit</option>
        </select>
    </div>

    <div class="input-group">
      <label for="on_clearance">On Clearance</label>
        <%= f.check_box :on_clearance %>
    </div>

    <div class="input-group">
      <label for="prod_url">Image Link</label>
      <%= f.text_field :prod_url %>
    </div>

    <div class="input-group">
      <label for="condition">Category</label>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :title ) %>
    </div>

    <div class="actions">
      <%= f.submit  %>
    </div>

  <% end %>
</div>
