<h2><a href="/"> Mallory Furniture</a></h2>

<% products.each do |product| %>
  <header>
    <h3><a href="/products/<%= product.id %>"> <%= product.name %></a></h3>

      <p><%= product.condition %></p>
      <p><%= "$#{product.discount}" %>
        <% if product.on_clearance %>
          <%= " - 10% off!! (Original price = $#{product.price * 1.1})" if product.condition.downcase == 'average' %>
          <%= " - 20% off!! (Original price = $#{product.price * 1.2})" if product.condition.downcase == 'good' %>
        <% end %></p>

      <p><%= "#{product.quantity} items left in stock!" %></p>


  </header>
<% end %>
