<h2> Mallory Furniture </h2>
<h4><a href="/"> Home </a></h4>
<h4><a href="/products/"> Products </a></h4>

<h3><%= product.name %></h3>

<header>
  <p><%= product.condition %></p>
  <p><%= "$#{product.discount}" %>
    <% if product.on_clearance %>
      <%= " - 10% off!! (Original price = $#{product.price * 1.1})" if product.condition.downcase == 'average' %>
      <%= " - 20% off!! (Original price = $#{product.price * 1.2})" if product.condition.downcase == 'good' %>
    <% end %></p>

  <p><%= "#{product.quantity} items left in stock!" %></p>

</header>
