


<div class="show_transbox">

  <%= link_to "/products/#{product.id}" do %>
    <%= image_tag(product.prod_url) %>
  <% end %>

    <h3> <%= product.name %> </h3>

      <p><%= "Quality: #{product.condition}" %></p>

      <p><%= "Price: $#{product.discount}" %>
        <% if product.on_clearance %>
          <%= " - Clearance: 10% off! (Original price = $#{(product.price / 0.9).round})" if product.condition.downcase == 'fair' %>
          <%= " - Clearance: 20% off! (Original price = $#{(product.price / 0.8).round})" if product.condition.downcase == 'good' %>
        <% end %></p>

  </div>

  <aside class="products">

    <div class='new-product'>

      <h4>Edit This Product</h4>

      <form action="/products" method="post">

        <div class="input-group">
          <label for="name">Name</label>
          <%= text_field_tag :name, product.name %>
        </div>

        <div class="input-group">
          <label for="price">Price</label>
          <%= text_field_tag :price, product.price %>
        </div>

        <div class="input-group">
          <label for="quantity">Quantity</label>
          <%= text_field_tag :quantity, product.quantity %>
        </div>

        <div class="input-group">
          <label for="condition">Condition</label>
            <select name="condition", id="condition">
              <option value='Good'>Good</option>
              <option value='Fair'>Fair</option>
              <option value='Bad'>Bad</option>
              <option value='Absolute Shit'>Absolute Shit</option>
            </select>
        </div>

        <div class="input-group">
          <label for="on_clearance">On Clearance</label>
            <select name="on_clearance", id="condition">
              <option value=True>True</option>
              <option value=False>False</option>
            </select>
        </div>

        <div class="input-group">
          <label for="prod_url">Image Link</label>
          <%= text_field_tag :prod_url, product.prod_url %>
        </div>

        <div class="input-group">
          <label for="category">Category</label>
          <%= text_field_tag :category_id, product.category_id %>
        </div>


        <input type='submit' value="Submit"/>

      </form>

    </div>
  </aside>
