<div>
  <h2><a href="/categories" class="nav-links back"> <img src="http://downloadicons.net/sites/default/files/returns--icon-30696.png"/> </a></h2>
  <h2><a href="/" class="nav-links home">  <img src="http://www.bestpeer.com/img/home.png"/> </a></h2>
</div>

<div>

<div class="show_transbox">

  <%= link_to "/products/#{product.id}" do %>
    <%= image_tag(product.prod_url) %>
  <% end %>

    <h3> <%= product.name %> </h3>

      <p><%= "Quality: #{product.condition}" %></p>

      <p><%= "Price: $#{product.discount}" %>
        <% if product.on_clearance %>
          <%= " - Clearance: 10% off! (Original price = $#{(product.price / 0.9).round})" if product.condition.downcase == 'fair' %>
          <%= " - Clearance: 20% off! (Original price = $#{(product.price / 0.8).round})" if product.condition.downcase == 'good' %>
        <% end %></p>

  </div>

</div>
