

<div>

<div class="show_transbox">

  <%= link_to "/products/#{product.id}" do %>
    <%= image_tag(product.prod_url) %>
  <% end %>

    <h3> <%= product.name %> </h3>

      <p><%= "Quality: #{product.condition}" %></p>

      <p><%= "Price: $#{product.discount}" %>
        <% if product.on_clearance %>
          <%= " - Clearance: 10% off! (Original price = $#{(product.price / 0.9).round})" if product.condition.downcase == 'fair' %>
          <%= " - Clearance: 20% off! (Original price = $#{(product.price / 0.8).round})" if product.condition.downcase == 'good' %>
        <% end %></p>

  </div>

</div>
